# TODO: https://pwbug.dev/319665090: Disable hermetic sandbox tmp due to issues
# with arm toolchain.
build --noincompatible_sandbox_hermetic_tmp

common --verbose_failures

# Required for new toolchain resolution API.
build --incompatible_enable_cc_toolchain_resolution

build --platforms=@pico-sdk//bazel/platform:rp2040

# rules_cc said to add this so ¯\_(ツ)_/¯ -- probably should actually think through why
build --@rules_cc//cc/toolchains:experimental_enable_rule_based_toolchains

